@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showUp {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes showLine {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}
@keyframes upDown {
  0% {
    transform:rotateY(0deg);
    bottom: get_vw(5);
  }
  50% {
    transform:rotateY(180deg);
    bottom: get_vw(0);
  }
  100% {
    transform:rotateY(0deg);
    bottom: get_vw(5);
  }
}
.is-show{
  opacity: 1!important
}
