@import "../module/_mixin";
@import "../module/function";
@import "../base/_variable";
@media screen and (max-width: 768px) {
.sp_only{
  display: block!important;
}
.pc_only{
  display: none;
}
.container{
  padding: 0 0 get_vw_sp(70);
}
section{
  width: 90%;
  font-size: get_vw_sp(16);
  padding: get_vw_sp(20);
  margin: 0 auto get_vw_sp(100);
  border-radius: get_vw_sp(10);
  border: 2px solid #999999;
  box-shadow:0px 0px 3px 2px #000 inset;
}
h2{
  font-size: get_vw_sp(20);
  margin: 0 0 get_vw_sp(10);

  &::before{
    height: get_vw_sp(8);
    border-bottom: dotted get_vw_sp(2) #fff;
  }
}
.loading{
  &-inner{
    height: get_vw_sp(215);

    h1{
      width: 90%;
      transform: translateY(0px);
    }
    &__border{
      bottom: get_vw_sp(140);
      width: 98%;
      height: get_vw_sp(4);
    }
    &__bg{
      bottom: 0;
      height: get_vw_sp(140);
    }
  }
}
.kv{
  height: 90%;
  padding: get_vw_sp(180) 0;
  margin: 0 0 get_vw_sp(70);

  h1{
    width: 90%;
    margin: 0 auto get_vw_sp(25);

    &::before{
      width: 100%;
      height: get_vw_sp(4);
    }
  }

  .kv-message{
    width: 90%;
    height: get_vw_sp(150);
    font-size: get_vw_sp(16);
    line-height: 1.56;
    padding: get_vw_sp(20);
    border-radius: get_vw_sp(10);
    border: 2px solid #999999;
  }
  button{
    right: get_vw_sp(45);
    bottom: get_vw_sp(200);
    height: get_vw_sp(20);
    width: get_vw_sp(10);

    &::after{
      height: get_vw_sp(20);
      width: get_vw_sp(10);
    }
  }
}
.status{

  &-inner{

    &__block-l{
      width: 100%;

      p{
        font-size: get_vw_sp(20);
      }

      &__level{
        padding: 0 0 0 get_vw_sp(35);
        margin: 0 0 get_vw_sp(10);
      }
      div{
        width: get_vw_sp(100);
      }
    }
    &__block-r{
      width: 100%;

      &__title{
        margin: 0 get_vw_sp(10) 0 0;
      }
      tr{
        font-size: get_vw_sp(20);
      }
    }
  }
}
.works{
  &-inner{
    justify-content: space-between;
    padding: get_vw_sp(10) 0 0;

    &__box{
      width: 100%;
      margin: 0 auto get_vw_sp(15);
      font-size: get_vw_sp(20);

      &:hover{
        transform: translateY(0px);
        box-shadow: initial;
      }
      p{
        padding: 0;
      }
    }
  }
  button{
    width: get_vw_sp(100);
    font-size: get_vw_sp(16);
    padding: get_vw_sp(5) 0;
    margin: get_vw_sp(10) auto 0;
    border-radius: get_vw_sp(5);

    &:hover{
      opacity: 1;
    }
  }
}
.note{
  &-inner{

    &__box{
      width: 100%;
      margin: get_vw_sp(5) auto get_vw_sp(15);
      font-size: get_vw_sp(14);

      &:hover{
        box-shadow: initial;
        transform: translateY(0px);
      }
      p{
        padding: get_vw_sp(5) 0;
      }
    }
  }
  button{
    width: get_vw_sp(100);
    font-size: get_vw_sp(16);
    padding: get_vw_sp(5) 0;
    margin: get_vw_sp(10) auto 0;
    border-radius: get_vw_sp(5);

    &:hover{
      opacity: 1;
    }
  }
}
.contact{
  margin: 0 auto get_vw_sp(130);
  h2{
    margin: 0 0 get_vw_sp(15);
  }
  &-inner{
    &__block-l{
      width: 100%;

      div{
        width: get_vw_sp(100);
      }
    }
    &__block-r{
      width: 100%;

      p{
        font-size: get_vw_sp(18);
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
}
