.intro {
    position: relative;
    padding: 0 0 200px;
    @include sp {
        padding: 0 0 get_vw_sp(150);
    }

    &__block {
        margin: 0 200px 50px auto;
        text-align: right;
        overflow: hidden;
        z-index: 2;
        @include sp {
            margin: 0 get_vw_sp(15) get_vw_sp(13) auto;
        }

        &--inner {
            display: inline-block;
            height: 100%;
            overflow: hidden;
        }
        &--text {
            display: inline-block;
            font-style: normal;
            transform: translate3d(0, 100%, 0);
            visibility: hidden;
            font-size: 9rem;
            color: $color-white;
            font-family: $font-all;
            @include sp {
                font-size: get_vw_sp(35);
            }
        }

        &.is-active {
            .intro__block--no01 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.333s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.333s;
            }
            .intro__block--no02 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.353s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.353s;
            }
            .intro__block--no03 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.373s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.373s;
            }
            .intro__block--no04 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.393s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.393s;
            }
            .intro__block--no05 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.413s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.413s;
            }
            .intro__block--no06 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.433s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.433s;
            }
            .intro__block--no07 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.453s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.453s;
            }
            .intro__block--no08 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.473s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.473s;
            }
            .intro__block--no09 {
                transform: translateZ(0);
                visibility: visible;
                transition: transform 0.666s cubic-bezier(0.1, 0, 0.1, 1) 0.493s, opacity 1.333s cubic-bezier(0.1, 0, 0.1, 1) 0.493s;
            }
        }
    }

    &__slider {
        position: relative;
        width: 790px;
        margin: 0 auto;
        padding: 0 0 20px;
        z-index: 3;
        @include sp {
            width: get_vw_sp(350);
            padding: 0 0 get_vw_sp(10);
        }

        &--inner {
            padding: 30px 30px 50px;
            @include sp {
                padding: get_vw_sp(15) get_vw_sp(15) get_vw_sp(25);
            }
        }

        &--wrap {
            opacity: 0;
            transform: translate(0, 20px);

            &.is-active {
                opacity: 1;
                transform: translate(0, 0);
                transition: 0.4s cubic-bezier(0.39, 0.42, 0.59, 0.63);
            }
        }
    }

    &__border {
        position: absolute;
        z-index: 10;
        overflow: hidden;
        box-sizing: border-box;

        &--top,
        &--bottom {
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color-white;
            transform: scaleX(0);

            &.is-active {
                transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1) 0.8s;
                transform: scaleX(1);
            }
        }

        &--left,
        &--right {
            top: 0;
            width: 1px;
            height: 100%;
            background-color: $color-white;
            transform: scaleY(0);

            &.is-active {
                transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1) 0.8s;
                transform: scaleY(1);
            }
        }

        &--top {
            top: 0;
            transform-origin: left top;
        }

        &--bottom {
            bottom: 0;
            transform-origin: right bottom;
        }

        &--left {
            left: 0;
            transform-origin: left top;
        }

        &--right {
            right: 0;
            transform-origin: right bottom;
        }
    }

    &__box {
        color: $color-white;

        &--title {
            letter-spacing: 1.5px;
        }

        &--sub {
            letter-spacing: 1.5px;
        }

        &--text {
            margin: 20px 0 0;
            font-size: 1.3rem;
            font-family: $font-jp;
            @include sp {
                font-size: get_vw_sp(13);
            }

            &-en {
                font-family: $font-all;
                letter-spacing: 1.5px;
            }
        }

        &--link {
            position: relative;
            transition: ease 0.2s;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $color-white;
                transition: ease 0.2s;
            }

            &-twitter {
                &:hover {
                    color: $color-twitter;
                    transition: ease 0.4s;

                    &::after {
                        background-color: $color-twitter;
                        transition: ease 0.4s;
                    }
                }
            }
            &-instagram {
                &:hover {
                    color: $color-instagram;
                    transition: ease 0.4s;

                    &::after {
                        background-color: $color-instagram;
                        transition: ease 0.4s;
                    }
                }
            }
        }

        &--icon {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -25px;
                margin: auto;
                width: 15px;
                height: 15px;
                background-size: 100%;
                background-repeat: no-repeat;
                background-image: url('~/assets/img/pc/lo-res/icon_tab.png');
            }
        }
    }

    &__button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        width: 120px;
        margin: 0 auto;
        @include sp {
            left: get_vw_sp(17);
            bottom: get_vw_sp(-70);
            width: get_vw_sp(110);
            height: get_vw_sp(50);
        }
    }
}
