// Sizes
$pc-base-size: 1920;
$sp-base-size: 375;

// Breakpoints
$break-point-pc: 1440px;
$break-point-tablet: 1024px;
$break-point-sp: 768px;

// Font
$font-all: 'Suez One', serif;
$font-jp: 'Noto Serif JP', serif;

// Colors
$color-black: #2a2a2a;
$color-white: #fff;
$color-darkgray: rgb(179, 178, 178);
$color-gray: rgb(172, 172, 172);
$color-footer: #3a3a3a;
$color-twitter: rgb(29, 161, 242);
$color-instagram: #ea4c96;
$color-note: #2cb696;
$color-zenn: #3ea8ff;
