@use "../../global/global" as g;

.top-logo {
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: map-get(g.$z, 'logo');
    @include g.mq(mobile) {
        top: g.get_vw(30);
        left: g.get_vw(10);
    }

    &__link {
        display: block;
        text-decoration: none;
        opacity: 0;

        &.is-show {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
    }

    &__outer {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 6px;
            height: 9px;
            background: g.$color-white;
            transition: all 0.2s ease-out;
            @include g.mq(mobile) {
                height: g.get_vw(8);
                bottom: g.get_vw(10);
            }
        }

        &:hover {
            &::before {
                transform: translateY(10px);
                @include g.mq(mobile) {
                    transform: translateY(6px);
                }
            }
        }
    }

    &__inner {
        position: relative;
        display: inline-block;
        font-size: 3rem;
        font-family: g.$font-en;
        background: linear-gradient(to bottom, g.$color-black, g.$color-black 60%, g.$color-white 60%, g.$color-white 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: g.$color-white;
        mix-blend-mode: difference;
        background-repeat: no-repeat;
        transition: background 0.2s ease-out;
        cursor: pointer;
        @include g.mq(mobile) {
            font-size: g.get_vw(45);
        }

        &:hover {
            background-position: 0 11px;
        }
    }
}
